

# Exercises

https://ds.codeup.com/clustering/explore/

Sourcing the Zillow database as the data source, create a jupyter notebook named explore_zillow and do the following:

1. Ask at least 5 questions about the data, keeping in mind that your target variable is logerror. e.g. Is logerror significantly different for properties in LA County vs Orange County vs Ventura County?

2. Answer those questions through a mix of statistical tests and visualizations.

In [1]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns
import acquire
import prepare
import explore
import math

from env import user, host, password

# 1. Ask at least 5 questions about the data, keeping in mind that your target variable is logerror. e.g. Is logerror significantly different for properties in LA County vs Orange County vs Ventura County?
 - 1. Distribution of the independent variables
 - 2. Is logerror significantly different across zip codes/counties
 - 3. Is there a relation between square footage and logerror, linear correlation or otherwise?
 - 4. Is there a relationship between lontitude and logerror?
 - 5. Accounting for Bedroom counts, is there a relationship between error and geolocation via long/lat?

1. Distribution of the independent variables

In [2]:
# acquire our data
df = acquire.get_zillow_data()

In [3]:
# clean our data (very simple version)
df = prepare.handle_missing_values(df, prop_required_column=1, prop_required_row=1)

In [4]:
df.columns

Index(['propertylandusetypeid', 'parcelid', 'id', 'logerror',
       'transactiondate', 'id.1', 'bathroomcnt', 'bedroomcnt', 'fips',
       'latitude', 'longitude', 'propertycountylandusecode',
       'rawcensustractandblock', 'regionidcounty', 'roomcnt', 'assessmentyear',
       'propertylandusedesc'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77381 entries, 0 to 77579
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   propertylandusetypeid      77381 non-null  float64
 1   parcelid                   77381 non-null  int64
 2   id                         77381 non-null  int64
 3   logerror                   77381 non-null  float64
 4   transactiondate            77381 non-null  object
 5   id.1                       77381 non-null  int64
 6   bathroomcnt                77381 non-null  float64
 7   bedroomcnt                 77381 non-null  float64
 8   fips                       77381 non-null  float64
 9   latitude                   77381 non-null  float64
 10  longitude                  77381 non-null  float64
 11  propertycountylandusecode  77381 non-null  object
 12  rawcensustractandblock     77381 non-null  float64
 13  regionidcounty             77381 non-null  float64
 14  roomcnt                    77381 non-null  float64
 15  assessmentyear             77381 non-null  float64
 16  propertylandusedesc        77381 non-null  object
dtypes: float64(11), int64(3), object(3)
memory usage: 10.6+ MB

In [8]:
train, validate, test = explore.train_validate_test_split(df, 'logerror')

ValueError: The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2.

In [12]:
for col in train.columns:
    plt.hist(train[col])
    plt.title(col)
    plt.show()

NameError: name 'train' is not defined